.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 92vh;
  padding: 28px 21px;
  background-color: var(--background-color);
}

.form_section h1{
  width: 100%;
  text-align: center;
  text-shadow: 2px 1px black;
}

.container form {
  color: white;
  padding: 5%;
  width: 40vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--primary-color);
}

.form_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form_section > img {
  height: 100%;
  width: 30vw;
}

.container input,
.container textarea,
.container select,
.container button {
  width: 100%;
  padding: 14px;
  font-size: 14px;
  resize: vertical;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid var(--border);
}

.container textarea {
  min-height: 50px;
  height: 15em;
}

.container label {
  font-weight: 600;
  margin: 7px 0px 14px 0px;
}

.container button {
  font-weight: 600;
  margin: 21px 0px 0px 0px;
  background: var(--background-color);
}

.container button:hover {
  background-color: burlywood;
}

.container a {
  border: none;
  font-size: 14px;
  background: none;
  font-weight: 500;
  margin-top: 14px;
  text-align: center;
  color: rgb(200, 200, 200);
}