.page_container {
  padding: 5%;
  max-width: 100vw;
  /* border: 2px black solid; */
  min-height: 92vh;
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.container{
  /* width: 30%; */
  width: 80vw;
  /* border: 2px black solid; */
}

.container a{
  text-decoration: none;
}

