.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
  height: 94vh;
}

.card_container{
  display: flex;
  justify-content: center;
  align-items: center;
}