ul {
  list-style-type: none;
  align-items: center;
  font-size: 100%;
  font-weight: bold;
  z-index: 3;
  margin-top: 55px;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(194, 151, 86, 0.75);
  padding: 0;
}

.navbar {
  background-color: rgb(194, 151, 86);
  height: 6vh;
  z-index: 2;
  width: 100%;
}

.navbar a {
  text-decoration: none;
  color: rgb(245, 236, 220);
  text-shadow: black 2px 2px;
  font-size: 95%;
  align-items: center;
  font-weight: bolder;
}

.navbar .mobileNavigation {
  display: none;
}

@media (max-width: 990px) {
  .navbar .navigation {
    display: none;
  }

  .navbar .mobileNavigation {
    display: flex;
  }

  .navbar .mobileNavigation .hamburger {
    position: absolute;
    left: 3%;
    top:1vh;
    cursor: pointer;
  }

  .navbar .nav .ul {
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    border-top: 1px solid rgb(197, 144, 64);
  }

  ul li:hover {
    background-color: rgb(190, 140, 64);
    color: white;
  }

  ul li a:hover {
    color: white;
  }
}

@media (min-width: 990px) {
  ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul li {
    display: flex;
    margin-top: 15px;
    padding: 0 30px;
    color: white;
    margin: 0, 40px;
  }

  ul li:hover {
    font-weight: bolder;
    letter-spacing: 2px;
  }

  .navbar {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar ul .logo {
    position: absolute;
    left: 2vw;
  }

  .navbar ul .logo img {
    width: 50px;
    height: 50px;
    border-radius: 0;
  }

  .navbar ul .logo img:hover {
    width: 55px;
    height: 55px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation li {
    margin: 0;
  }

  .navigation img {
    margin: 0;
  }
}