.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* border:black 2px solid; */
  height: 100%;
  margin: 0 0 0 20px;
  width: 60%;
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}


