.flip_card {
  padding: 14px 21px;
  border-radius: 5px;
  width: 200px;
  height: 254px;
  /* perspective: 1000px; */
  /* font-family: sans-serif; */
}

.flip_card h1 {
  margin: 0;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
}

.flip_card p {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  overflow: hidden;
  line-height: 1.5rem;
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 3; */
  word-break: break-all;
  text-align-last: center;
  text-overflow: ellipsis;
  /* -webkit-box-orient: vertical; */
  padding: 15px;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid beige;
  border-radius: 1rem;
}

.flip_card_front {
  background: linear-gradient(120deg, beige 60%, rgb(255, 231, 222) 88%,
      rgb(255, 211, 195) 40%, burlywood 48%);
  color: burlywood;
}

.flip_card_back {
  background: linear-gradient(120deg, burlywood 30%, beige 88%,
      bisque 40%, beige 78%);
  color: black;
  transform: rotateY(180deg);
}