.card {
  width: 150px;
  height: 150px;
  /* background: var(--background-color); */
  background-color: beige;
  border-radius: 15px;
  margin: 20px;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
}

.card_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
  height: 100%;
}

/*Image*/
.card_avatar {
  --size: 60px;
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
}


/*Card footer*/


svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card_title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}


/*Hover*/
.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card_info {
  transform: translateY(-5%);
}

svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.card_avatar:hover {
  transform: scale(1.1);
}